.teacherbody{
    min-height: calc(100vh - 160px);
}

.academybody{
    width : 100%;
    min-height: calc(100vh - 210px); 
}

.academycontainer{
    width: 1160px;
    margin : 0 auto;
}


.academytitle{
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin-top: 48px;   
}



.academytitle > p:first-child{
    font-size: 24px;
    font-weight: bold;
}

.academytitle > div{
    display: flex;
    margin-top: 16px;
    gap: 24px;
}

.academytitle > div > button{
    font-size: 12px !important;
    background: none;     
    border: none;        
    padding: 0;         
    margin: 0;           
    font: inherit;       
    color: inherit;     
    cursor: pointer;     
    outline: none;         
}
.academytitle > div > a:last-child{
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.academyline{
    width : 1160px;
    height : 0px;
    border : 1px solid black;
    margin: 16px 0px 34px 0px;
}
.academypic{
    font-size : 18px;
    font-weight: bold;
    margin-bottom: 12px;

}
.academyimg{
    /* 추가된 CSS소스코드 */
    width: 100%;
    max-width: 300px;
    height: auto;
    aspect-ratio: 4 / 3;
    overflow: hidden;


    /* 기존 CSS코드  */
    display: flex;
    align-items: center;
    justify-content: center;
    width : 462px;
    height: 264px;
    background-color: #F5F6FA;
    border-radius: 28px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.academysubline{
    width : 1160px;
    height : 0px;
    border : 1px solid #E5ECFF;
    margin: 48px 0px 29px 0px;
}

.academycontent > div{
    display: flex;
    justify-content: space-between;
}

.academycontent > div > div{
    display: flex;
    align-items: center;
    gap: 36px;
    margin-bottom: 62px;
}

.academycontent > div > div > p{
    font-size: 18px;
    font-weight: bold;
}

.academycontent > div > div > input{
    width: 345px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 12px;
    box-sizing: border-box;
}

.academydescription{
    width: 1160px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.academydescription > p{
    font-size: 18px;
    font-weight: bold;
    margin-right: 46px;
    margin-left: 6px;
    white-space: nowrap;
}


.academydescription > input{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #000000;
    padding-left: 12px;
    box-sizing: border-box;
}

.academyokcontainer{
    display: flex;
    justify-content: right;
    width : 1160px;
    margin: 0 auto;
    margin: 36px 0px 50px 0px;
}

.academyokcontainer > button{
    width: 93px;
    height: 41px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

.addressmargin{
    margin-right: 10px;
}

.image_upload_box {
  width: 500px;
  height: 358px;
  background-color: #F5F6FA;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;       /* 🔹 넘치는 이미지 잘라냄 */
  cursor: pointer;
  margin-top: 22px;
}

.image_preview {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;       /* 🔹 비율 유지하며 꽉 채우기 */
  display: block;
  border-radius: 12px;
}


.up_line {
    color: #4169E1;
    border: 2px solid #4169E1;
    height: 3px;
    margin-bottom: 20px;
}

.down_line {
    color: #4169E1;
    border: 2px solid #4169E1;
    height: 3px;
    margin-top: 20px;
}