.academymain{
    width: 100%;
}

.academyinformation{
    display: flex;
    gap: 64px;
}

.academyinformation > img{
    width: 415px;
    height: 415px;
}

.informationdetail > p:first-child{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 11px;
}

.informationdetail > div{
    display: flex;
    gap: 48px;
}

.informationdetail > div > div{
    display: flex;
    flex-direction: column;
}

.informationdetail > div > div > p{
    font-size: 16px;
    margin-bottom: 11px;
    line-height: 1.5;
}

.academymap{
  width: 678px;
  height: 257px;
  border-radius: 12px;
  overflow: hidden;
}
