.academymain{
    width: 100%;
}

.academyinformation{
    display: flex;
    gap: 64px;
}

.academyinformation > img{
    width: 415px;
    height: 415px;
}

.informationdetail > p:first-child{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 11px;
}

.informationdetail > div{
    display: flex;
    gap: 48px;
}

.informationdetail > div > div{
    display: flex;
    flex-direction: column;
}

.informationdetail > div > div > p{
    font-size: 16px;
    margin-bottom: 8px;
    line-height: 1.5;
}


.academymap{
  width: 678px;
  height: 257px;
  border-radius: 12px;
  overflow: hidden;
}

.hometeachertitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    margin-top: 36px;
    margin-bottom: 36px;
}
.hometeachertitle > p:first-child{
    font-size: 24px;
    font-weight: bold;
}
.hometeachertitle > a{
    font-size: 12px;
    margin-top: 12px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.teacher-container{
    display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 24px;
     justify-items: center;
    margin-top: 32px;
    margin-bottom: 64px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 460px;
    background-color: #E5ECFF;
    border-radius: 18px;
    padding-top: 20px;
    box-sizing: border-box;
    position: relative;
}

.imageboxbox{
    border-radius: 12px;
    width: 216px;
    height: 265px;
    margin-bottom: 9px;
    object-fit: cover;
    object-position: center;
    display: block;
    overflow: hidden;
}

.imageboxbox > img{
    width: 216px;
    height: 265px;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
    
}

.teacherposition{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    width: 360px;
    height: 96px;
    background-color: #4169E1;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.teacherexplain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 100px;
}

.teacherexplain > a{
    text-decoration: none;
    color: inherit;
    font-weight: 400px;
    font-size: 18px;
}

.viewmore{
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 0 auto;
    margin-top: 42px;
    margin-bottom: 60px;
}

.viewmore > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #E5ECFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.deleteimg{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
