.main {
    width: 1160px;
    min-height: calc(100vh - 160px);
    margin: 0 auto 0 auto;
    padding: 0px 20px 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.swiper {
  width: 1160px;
  height: 100%;
  margin-top: 16px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  width: 1160px;
  height: 374px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses {
  font-weight: bold;
  font-size: 32px;
  margin: 32px 0 16px 0;
  text-align: start;
}

.title-box {
  width: 1160px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto
}

.search {
  font-size: 32px;
  font-weight: bold;
  margin: 32px 0px 16px 0px;
}

.academy {
  font-size: 18px;
  margin-top: 48px;
  text-decoration: none;
  color: inherit;
}

.container2 {
  display: flex;
}

.region {
  display: flex;
  width: 580px;
  height: 40px;
  background-color: #F5F6FA;
  border: #BFBFBF solid 1px;
  text-align: start;
  font-weight: 16px;
  padding: 0px 0px 0px 12px;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

.func {
  width: 580px;
  height: 126px;
}

.reg {
  display: flex;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.reg1 {
  display: flex;
  overflow: hidden;
  transition: max-height 0.3s ease;
}


.region-01 {
  display: flex;
  width: 290px;
  height: 43px;
  background-color: #F5F6FA;
  border: #BFBFBF solid 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.region-01:hover {
  color: white;
  background-color: black;
}
.region-01.active {
  color: white;
  background-color: black;
}

.container-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  width: 1160px;
  margin : 0 auto;
}

.courses {
  display: flex;
  width: 373px;
  border-radius: 15px;
  overflow: hidden;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: inherit;
}

.courses:hover {
  transform: scale(1.05);
}

.courses img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.course-info {
  background-color: #E5ECFF;
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 0px 8px;
}

.course-info h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
  text-decoration: none;
}

.course-info p {
  margin: 0;
  color: black;
  font-size: 14px;
}

