.main {
    width: 1200px;
    min-height: calc(100vh - 160px);
    margin: 0 auto 0 auto;
    padding: 0px 20px 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  width: 1160px;
  height: 374px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.courses {
  font-weight: bold;
  font-size: 32px;
  margin: 32px 0 16px 0;
  text-align: start;
}

.search {
  font-size: 32px;
  font-weight: bold;
  text-align: start;
  margin: 32px 0 2px 0;
}

.academy {
  font-size: 18px;
  text-align: end;
}

.container2 {
  display: flex;
}

.region {
  width: 557px;
  height: 40px;
  background-color: #F5F6FA;
  border: #BFBFBF solid 1px;
  text-align: start;
  font-weight: 16px;
  padding: 20px 0px 0px 23px;
}

.subject {
  width: 557px;
  height: 40px;
  background-color: #F5F6FA;
  border: #BFBFBF solid 1px;
  text-align: start;
  font-weight: 16px;
  padding: 20px 0px 0px 23px;
}

.func {
  width: 580px;
  height: 126px;
}

.reg {
  display: flex;
}

.region-01 {
  width: 290px;
  height: 43px;
  background-color: #F5F6FA;
  border: #BFBFBF solid 1px;
  text-align: center;
  padding-top: 23px;
}

.container-courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courses {
  width: 373px;
  height: 280px;
  border: #444 solid 1px;
  border-radius: 15px;
  overflow: hidden;
}