.container_outbox_01{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{
    width: 900px;
    height: 700px;
    background-color: #87CEFA;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_outbox_01{
    width: 455px;
    height: 600px;
    border-radius: 30px;
    background-color: #ffffff27;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    box-sizing: border-box;
}

.login_text_01{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 40px;
}

.login_box_01,
.login_box_02{
    margin-bottom: 24px;
}

.title_13px{
    font-size: 13px;
    margin-bottom: 8px;
}

#userid, #password{
    width: 335px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 0 12px;
    box-sizing: border-box;
}

.text_13px{
    font-size: 13px;
    color: #ae4700;
    margin-bottom: 12px;
    cursor: pointer;
}

.login_btn{
    width: 335px;
    height: 40px;
    background-color: #4169E1;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 8px;
}

.login_btn:hover{
    background-color: #3154b8;
}

.sns_Login{
    width: 335px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 24px 0;
}

.snsImg{
    cursor: pointer;
    transition: opacity 0.2s;
}

.snsImg:hover{
    opacity: 0.8;
}

.signup_container_box{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.signup_box_01{
    display: flex;
    gap: 8px;
    font-size: 14px;
}

.signup_text_01{
    color: #333;
}

.signup_text_02{
    color: #4169E1;
    font-weight: bold;
    cursor: pointer;
}

.container_outbox_02{
    display: flex;
    flex-direction: column;
    
}

.testbox2222{
    width: 100%;
    height: 400px;
    background-color: #a80b0b;

    margin: 0px auto 0px auto;
        box-sizing: border-box;
}

.text_test2222{
    width: 100hv;
    height: 200px;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    background-color: gray;
    padding-top: 20px;
    box-sizing: border-box;
}

.Logo{
    width: 200px;
    background-repeat: no-repeat;
    background-size: auto ;


}