.container_outbox_01{
    width: 100%;
    min-height: calc(100vh - 160px);  /* height → min-height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{
    width: 1000px;
    height: 730px;
    background-color: #87CEFA;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_outbox_01{
    width: 455px;
    height: 680px;
    border-radius: 30px;
    background-color: #ffffff27;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    box-sizing: border-box;
    margin: 0px auto 0px auto;
}

.login_text_01{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.login_box_01,
.login_box_02{
    margin-bottom: 18px;
}

.title_13px{
    font-size: 18px;
    margin-bottom: 8px;
    font-weight: bold;
}

#button{
    height: 30px;
}

#userid, #password, #email, #number, #name{
    width: 335px;
    height: 30px;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 0 12px;
    box-sizing: border-box;
}

.text_13px{
    font-size: 14px;
    color: #ae4700;
    margin-bottom: 12px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}




.login_btn, .findmyid_btn, #Link{
    display: block;
    width: 335px;
    height: 30px;
    background-color: #4169E1;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 8px;
    text-align: center;
    align-content: center;
    text-decoration: none;
}

.login_btn:hover, .findmyid_btn:hover{
    background-color: #3154b8;
}

.sns_Login{
    width: 335px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 24px 0;
}

.snsImg{
    cursor: pointer;
    transition: opacity 0.2s;
}

.snsImg:hover{
    opacity: 0.8;
}

.signup_container_box{
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.signup_box_01{
    display: flex;
    gap: 8px;
    font-size: 14px;
}

.signup_text_01{
    color: #333;
}

.signup_text_02{
    color: #4169E1;
    font-weight: bold;
    cursor: pointer;
}

.container_outbox_02{
    display: flex;
    flex-direction: column;
    
}

.slogan_logo_01{
    display: flex;
    justify-content: center;
    width: 485px;
    height: 400px;
    padding: 100px;
    /* background-color: #a80b0b; */

    margin: 0px auto 0px auto;
    box-sizing: border-box;
}

.slogan_text_01{
    width: 100hv;
    height: 50px;
    font-size: 28px;
    text-align: center;
    font-weight: bolder;
    /* background-color: gray; */
    padding-top: 20px;
    box-sizing: border-box;
}

.Header_Logo{
    height: 50px;
    background-repeat: no-repeat;
    background-size: auto ;
}

.Logo{
    width: 200px;
    background-repeat: no-repeat;
    background-size: auto ;
}

.Logo2{
    position: relative;
    width: 400px;
    height: 500px;
    

}


/* 아래 코드는 FindMyId.js코드 입니다. */

.repassword{
    color: #9b9b9b;
    cursor: pointer;
    text-decoration: none;

}
.repassword:hover{
    color: black;
}

.findmyid_title_02{
    color: #9b9b9b;
    cursor: pointer;
    text-decoration: none;
}
.findmyid_title_02:hover{
    color: black;

}

.findmyid_container_text_01{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 20px;
}

.findmyid_title_01{
    font-size: 32px;
    font-weight: bolder;
}


.repassword_01{
    font-size: 32px;
    font-weight: bolder;
}



.findmyidbox_container{
    margin-top: 140px;
}

.you_id{
    font-size: small;
    margin-bottom: 10px;
}

.findmyidbox{
    width: 335px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    align-content: center;
    font-size: 20px;
}

/*아래는 Re Password.js에 적용되는 CSS입니다. */

.warning_text{
    font-size: small;
    color: red;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    
}