.teacherbody{
    width : 100%;
}

.teachercontainer{
    width: 1160px;
    margin : 0 auto;
}

.teachertitle{
    display: flex;
    justify-content: space-between;
    width: 1160px;
    margin-top: 48px;   
}

.teachertitle > p:first-child{
    font-size: 24px;
    font-weight: bold;
}
.teachertitle > p:last-child{
    font-size: 12px;
    margin-top: 16px;
    cursor: pointer;
}
.teacherline{
    width : 1160px;
    height : 0px;
    border : 1px solid black;
    margin: 16px 0px 34px 0px;
}
.teachercontent{
    display: flex;
    justify-content: space-between;
}
.teacherbox{
    margin-bottom: 52px;
}
.teacherbox > div > p{
    font-size: 18px;
    font-weight: bold;
}

.teacherbox > div > input{
    width: 345px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 16px;
    box-sizing: border-box;
}
.teachername{
    display: flex;
    gap: 43px;
    align-items: center;
    padding-left: 32px;
    box-sizing: border-box;
}

.teachercheckcontainer{
    display: flex;
}

.teachercheckcontainer > button{
        width: 115px;
        height: 48px;
        background-color: white;
        border: 1px solid black;
        border-right: none;
        cursor: pointer;
        
}
.teachercheckcontainer > button:last-child{
    border-right: 1px solid black;
}

.teacherrecruit{
    margin-left: -16px;
    margin-right: -22px;
}
.teacherimageupload{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 468px;
    height: 385px;
    background-color: #F5F6FA;
    border-radius: 21px;
    cursor: pointer;
}
.teacherimageupload > p{
    font-weight: bold;
    font-size: 18px;
}

.teachersubline{
    width : 1160px;
    height : 0px;
    border : 1px solid #E5ECFF;
    margin: 16px 0px 34px 0px;
}

.teacherokcontainer{
    display: flex;
    justify-content: right;
    width : 1160px;
    margin: 0 auto;
    margin: 36px 0px 50px 0px;
}

.teacherokcontainer > button{
    width: 93px;
    height: 41px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


