@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

html, body, header, footer {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}